<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <mat-card class="my-3">
                <mat-card-content>
                    <div>
                        <a routerLink="/home" class="text-dark mx-2">Accueil</a><span>/</span>
                        <a routerLink="/livres" class="text-dark mx-2">Livres</a><span>/</span>
                        <a routerLink="/categorie/{{getControl.categorie.value}}" class="text-dark mx-2">Categorie</a><span>/</span>
                        <span>{{getControl.titre.value}}</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card my-2 shadow w-75">
                                <img src="assets/img/{{livre.couverture}}" class="card-img-top" alt="..." style="max-height: 400px;">
                            </div>
                            <div *ngIf="livre.statut == 'gratuit'">
                            <a  href="assets/doc/{{livre.document}}" class="btn shadow back-primary w-75 "><i class="fa fa-download mx-2"></i>Télécharger</a>
                            </div>   
                        </div>
                        <div class="col-sm-8">
                            <mat-card-title class="text-uppercase">
                                <h3> {{getControl.titre.value}}</h3>
                            </mat-card-title>
                            <mat-card-content>
                                <p>Par : {{getControl.auteur.value}}</p>
                                <h3>Résume</h3>
                                <p>
                                    {{getControl.resume.value}}
                                </p>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card-content> 
            </mat-card>
        <!--############################################################################################ -->
            <mat-card class="my-3" *ngIf="UserId() =='0'">
                <mat-card-title class="display-6">
                    Mettre à jour les informations du livre
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="this.livreservice.dataForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="text" formControlName="titre" placeholder="Titre du livre">
                                </mat-form-field>
                                <div *ngIf="getControl.titre.touched && getControl.titre.invalid" class="text-danger">
                                <div *ngIf="getControl.titre.errors?.required">titre obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <mat-label>Catégories</mat-label>
                                    <mat-select formControlName="categorie">
                                        <mat-option value="Informatiques">Informatiques</mat-option>
                                        <mat-option value="Romances">Romances</mat-option>
                                        <mat-option value="Development Personnel">Development Personnel</mat-option>
                                        <mat-option value="Histoires">Histoires</mat-option>
                                        <mat-option value="Educations">Educations</mat-option>
                                        <mat-option value="Jeux">Jeux</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="getControl.categorie.touched && getControl.categorie.invalid" class="text-danger">
                                <div *ngIf="getControl.categorie.errors?.required">categorie obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full" floatLabel="always">
                                    <mat-label>Prix</mat-label>
                                    <input matInput type="number" formControlName="prix" (change)="onSetPrix($event)" min="0" class="example-right-align" placeholder="0">
                                    <span matPrefix>$&nbsp;</span>
                                    <span matSuffix>.00</span>
                                </mat-form-field>
                                <div *ngIf="getControl.prix.touched && getControl.prix.invalid" class="text-danger">
                                <div *ngIf="getControl.prix.errors?.required">prix obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="text" formControlName="statut" placeholder="statut" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="text" formControlName="isbn" placeholder="ISBN">
                                </mat-form-field>
                                <div *ngIf="getControl.isbn.touched && getControl.isbn.invalid" class="text-danger">
                                <div *ngIf="getControl.isbn.errors?.required">isbn obligatoire.</div>
                                <div *ngIf="getControl.isbn.errors?.pattern">isbn doit etre numérique.</div>
                                <div *ngIf="getControl.isbn.errors?.minlength || getControl.isbn.errors?.maxlength">minimum 10 et maximum 13 caractères.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="text" formControlName="auteur" placeholder="Auteur">
                                </mat-form-field>
                                <div *ngIf="getControl.auteur.touched && getControl.auteur.invalid" class="text-danger">
                                <div *ngIf="getControl.auteur.errors?.required">auteur obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="text" formControlName="editeur" placeholder="Editeur">
                                </mat-form-field>
                                <div *ngIf="getControl.editeur.touched && getControl.editeur.invalid" class="text-danger">
                                <div *ngIf="getControl.editeur.errors?.required">editeur obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="input-full">
                                    <input matInput type="date" formControlName="dates" placeholder="date de parution">
                                    <div *ngIf="getControl.dates.touched && getControl.dates.invalid" class="text-danger">
                                <div *ngIf="getControl.editeur.errors?.required">date obligatoire.</div>
                                </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <label for="couverture">Couverture</label>
                                <input type="file" class="form-control my-2" id="couverture">
                                <div *ngIf="getControl.couverture.touched && getControl.couverture.invalid" class="text-danger">
                                <div *ngIf="getControl.couverture.errors?.required">couverture obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="document">Document</label>
                                <input type="file" class="form-control my-2" id="document">
                                <div *ngIf="getControl.document.touched && getControl.document.invalid" class="text-danger">
                                <div *ngIf="getControl.document.errors?.required">document obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="input-full">
                                    <mat-label>Résume</mat-label>
                                    <textarea matInput formControlName="resume"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <button mat-raised-button color="primary">Enregistrer</button>
                            </div>
                          </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <!--#############################################################################################-->
        <div class="col-sm-3">
            <mat-card class="my-1">
                <mat-card-title class="text-uppercase">
                    <h3>L'ebook</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Prix : {{getControl.prix.value}} MRU</p>
                    <div class="shadow p-2 text-center bg-light my-2">
                        <p>
                            Vos êtes dans la bibliothèque de l'universite de Nouakchott AL Aasriya
                        </p>
                        <p>
                            <img src="../../../assets/img/m2.png" alt="" style="width:45px; height:45px">
                            <img src="../../../assets/img/u1.jpg" alt="" style="width:55px; height:55px">
                        </p>
                        <p>
                            Choisissez les catégories pour voir les livres disponibles
                        </p>
                        <p>
                            <a routerLink="/categories" mat-raised-button color="primary"><i class="fa fa-list"></i> catégories</a>
                        </p>
                    </div>
                    <div *ngIf="UserId()!='0'">
                        <div *ngIf="livre.statut == 'payant'">
                            <button mat-raised-button color="primary" class="my-1 w-100 text-center">Acheter le livre</button>
                        </div>
                        <button mat-raised-button color="accent" *ngIf="UserEmail()" class="my-1 w-100 text-center">Ajouter à ma liste d'envie</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="my-2">
                <mat-card-title class="text-uppercase">
                    <h3>Details de L'ebook</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Edition {{getControl.editeur.value}}</p>
                    <p>Date de parution : {{getControl.dates.value}}</p>
                    <p>ISBN : {{getControl.isbn.value}}</p>
                    <P>Langue : Francais</P>
                </mat-card-content>
            </mat-card>
            <button mat-fab class="my-1 mx-2 back-primary"><i class="fab fa-facebook fa-2x"></i></button>
            <button mat-fab class="my-1 mx-2 bg-info"><i class="fab fa-twitter fa-2x"></i></button>
            <button mat-fab class="my-1 mx-2 bg-secondary"><i class="fab fa-github fa-2x"></i></button>
            <button mat-fab class="my-1 mx-2 bg-success"><i class="fab fa-whatsapp fa-2x"></i></button>
        </div>
    </div>
</div>

