<div class="container">
    <mat-card class="my-2">
        <mat-card-content class="text-uppercase text-bold">
            <div class="row">
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" class="my-2">Nom et prenom</button>
                </div>
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" class="my-2">Titre du livre</button>
                </div>
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" class="my-2">Prix</button>
                </div>
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" class="my-2">Date de payements</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="my-2">
        <mat-card-content class="text-uppercase text-bold">
            <div class="row">
                <div class="col-sm-3">
                    <p>Ndddddddm</p>
                </div>
                <div class="col-sm-3">
                    <p>Nddddddddre</p>
                </div>
                <div class="col-sm-3">
                    <p>Pr555555vre</p>
                </div>
                <div class="col-sm-3">
                    <p>Dat555555ement</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>    
    <mat-card class="my-2">
        <mat-card-content class="text-uppercase text-bold">
            <div class="row">
                <div class="col-sm-3">
                    <p>No55555om</p>
                </div>
                <div class="col-sm-3">
                    <p>No555555e</p>
                </div>
                <div class="col-sm-3">
                    <p>PrddddddddLivre</p>
                </div>
                <div class="col-sm-3">
                    <p>Dateddddddddement</p>
                </div>
            </div>
        </mat-card-content>    
    </mat-card>
</div>