<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card my-2 shadow w-auto">
                <img src="../../../assets/img/bx.jpg" class="card-img-top" alt="..." style="max-height: 400px;">
                <div class="card-body">
                  <button mat-mini-fab color="accent" class="my-1"><i class="fa fa-heart mx-2"></i></button>
                  <a routerLink="/livre" class="mx-2 my-1" mat-raised-button>plus d'infos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 shadow w-auto">
                <img src="../../../assets/img/bx1.jpg" class="card-img-top" alt="..." style="max-height: 400px;">
                <div class="card-body">
                  <button mat-mini-fab color="accent"><i class="fa fa-heart mx-2"></i></button>
                  <a routerLink="/livre" class="mx-2" mat-raised-button>plus d'infos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 shadow w-auto">
                <img src="../../../assets/img/bx2.png" class="card-img-top" alt="..." style="max-height: 400px;">
                <div class="card-body">
                  <button mat-mini-fab color="accent"><i class="fa fa-heart mx-2"></i></button>
                  <a routerLink="/livre" class="mx-2" mat-raised-button>plus d'infos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 shadow w-auto">
                <img src="../../../assets/img/bxx.jpg" class="card-img-top" alt="..." style="max-height: 400px;">
                <div class="card-body">
                  <button mat-mini-fab color="accent"><i class="fa fa-heart mx-2"></i></button>
                  <a routerLink="/livre" class="mx-2" mat-raised-button>plus d'infos</a>
                </div>
            </div>
        </div>
    </div>
</div>