<div class="container text-center py-5">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="my-2">
                <mat-card-title class="display-6">
                    Utilisateurs
                </mat-card-title>
                <mat-card-content>
                    <button mat-fab color="primary" routerLink="/admin-users"><i class="fa fa-users fa-2x"></i></button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="my-2">
                <mat-card-title class="display-6">
                    Livres
                </mat-card-title>
                <mat-card-content>
                    <button mat-fab color="primary" routerLink="/admin-livres"><i class="fa fa-book fa-2x"></i></button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="my-2">
                <mat-card-title class="display-6">
                    Payements
                </mat-card-title>
                <mat-card-content>
                    <button mat-fab color="primary" routerLink="/admin-payements"><i class="fab fa-btc fa-2x"></i></button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>