<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c1.png" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Informatiques</h3>
                    <p class="py-1"></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c2.PNG" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Romances</h3>
                    <p class="py-1"></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c3.PNG" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Développement personnel</h3>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c4.PNG" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Histoires</h3>
                    <p class="py-1"></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c5.PNG" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Educations</h3>
                    <p class="py"></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-2 col-mm-3 col-sm-4">
            <mat-card class="my-2">
                <mat-card-content class="text-center">
                    <div>
                        <img src="../../../assets/images/categories/c6.PNG" class="img-responsive rounded-circle w-50 h-50" alt="">
                    </div>
                    <h3>Jeux</h3>
                    <p class="py"></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>