<h2 mat-dialog-title>
    Condition d'utilisation
</h2>
<mat-dialog-content>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Quam officia harum consequuntur non facilis magni fugit reiciendis velit sint repudiandae. 
    Quo voluptate commodi quia corrupti iure in illo libero nam!
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="refuserConditions()">Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="accepterConditions()">Accepter</button>
</mat-dialog-actions>