<div class="container">
    <div class="row">
        <form #chercher="ngForm" (ngSubmit)="Rechercher()">
            <mat-form-field class="input-full text-center">
                <mat-label>Rchercher un utilisateur</mat-label>
                <input  matInput name="nom" type="search" class="py-3" [(ngModel)]="nom" (keypress)="onSearch($event)" required  >
                <i class="fa fa-search" matSuffix></i>
            </mat-form-field>
        </form>
    </div>
</div>
       
<div class="container">
    <div class="row" >
        <div class="col-md-3" *ngFor="let user of users ">
            <mat-card class="my-2">
                <mat-card-title class="">
                    <button  (click)="updateUser(user.id)" class="mx- my-1 text-white back-primary" mat-mini-fab><i class="fa fa-user-circle fa-1x"></i></button>
                </mat-card-title>
                <mat-card-content>
                    <p>Nom et prenom : {{user.nom}}</p>
                    <p>Adresse email : {{user.email}}</p>
                    <p>Telephone : {{user.telephone}}</p>
                    <p>L'etat  : {{user.statut}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a *ngIf="user.statut!='Active'" (click)="Activer(user.id)" class="mx-2 my-1" mat-raised-button color="accent"><i class="fa fa-lock"></i> Debloquer</a>
                    <a *ngIf="user.statut!='Suspendu'" (click)="Suspendre(user.id)" class="mx-2 my-1 bg-success text-white" mat-raised-button><i class="fa fa-unlock"></i> Bloquer</a>
                </mat-card-actions>
            </mat-card>    
        </div>
    </div>
</div>